/*================================================
        |   |   |    contact part start |   |   |   |   |
 ================================================*/
#contact {
    @include pgap(140px, 140px, 0, 0);
    position: relative;

    &::after {
        position: absolute;
        content: '';
        top: 130px;
        left: 0;
        width: 8px;
        height: 200px;
        background-color: $bannerbtnbg;
    }

    .contact-head {
        @include pgap(0, 80px, 0, 0);

        h3 {
            @include font('Poppins', 54px, 600, $navcolor);
            padding-bottom: 20px;
        }

        p {
            @include font('Roboto', 20px, 400, $bannerpara);
        }
    }

    .contact-form {
        position: relative;

        label {
            @include font('Poppins', 10px, 400, $bannerpara);
            text-transform: capitalize;
            @include pgap(5px, 5px, 10px, 10px);
            position: absolute;
            border: none;
            top: -13px;
            left: 25px;
        }

        .contact-name {
            width: 100%;
            height: 64px;
            margin-bottom: 20px;
            border: 1px solid $contactformbg;
            border-radius: 10px;
            outline: none;
            padding-left: 24px;

            &::placeholder {
                @include font('Poppins', 18px, 400, $navcolor);
                text-transform: capitalize;
               
            }
        }

        .contact-email {
            width: 100%;
            height: 64px;
            margin-bottom: 20px;
            background-color: $contacbg;
            border-radius: 10px;
            border: none;
            outline: none;
            padding-left: 24px;

            &::placeholder {
                @include font('Poppins', 18px, 400, $navcolor);
                text-transform: capitalize;
                
            }
        }

        .contact-subject {
            width: 100%;
            height: 64px;
            margin-bottom: 20px;
            background-color: $contacbg;
            border: none;
            outline: none;
            border-radius: 10px;
            padding-left: 24px;

            &::placeholder {
                @include font('Poppins', 18px, 400, $navcolor);
                text-transform: capitalize;
            }
        }

        #contact-message {
            width: 100%;
            height: 200px;
            background-color: $contacbg;
            border-radius: 10px;
            @include font('Poppins', 18px, 400, $navcolor);
            text-transform: capitalize;
            outline: none;
            border: none;
            @include pgap(24px, 0, 24px, 0);
            margin-bottom: 30px;
        }

        button {
            display: inline-block;
            width: 214px;
            height: 64px;
            border: 1px solid $bannerbtnbg;
            @include font('Poppins', 17px, 500, $bannerspan);
            text-transform: capitalize;
            letter-spacing: -0.5px;
            text-align: center;
            line-height: 64px;
            @include mgap(0, 0, 0, 15px);
            border-radius: 40px 5px 40px 5px;
            transition: all linear .3s;

            &:hover {
                background-color: $bannerbtnbg;
                color: $messagehead;
                box-shadow: 0 10px 10px $bannerbtnbg;
            }
        }
    }

    .contact-pic-wrapper {
        position: relative;

        .contact-image {
            position: absolute;
            top: 0;
            right: -150px;
        }
    }
}
/*================================================
        |   |   |    contact part end |   |   |   |   |
 ================================================*/